/* estilo geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
}

body {
  background-color: #F2DF80;
  height: 100vh;
}

.topo{
  max-width: 1280px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.btn-start button{
  background: none;
  border: none;
  padding: 0px;
  cursor:pointer;
  transition: .2s;
}

.btn-start button img{
  width: 150px;
}

.btn-start button:hover{
  transform: scale(1.10);
}

/* estilo do cabeçalho*/

header {
  padding: 10px 4%;
  background: #168AAD;
}

header .topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

header a{
  color: #168AAD;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  display: inline-block;
  padding: 20px 30px;
  background: #F2B705;
  border-radius: 30px; 
}

/* estilo do conteudo*/
section.conteudo{
  padding: 80px 4%;
}

section.conteudo.flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
  
}

.conteudo h1{
  color:#000;
  font-size: 35px;
  line-height: 40px;
  text-shadow: 2px 2px 5px rgb(255 255 255);
}

.conteudo .texto p {
  color: #000;
  margin: 40px 0;
  font-size: 30px;
  line-height: 1.5;
}

.conteudo .imagem-conteudo img{
  width: 60%;
  margin-left: 20%;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

.conteudo2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  gap: 20px
}

.imagem-conteudo2 img{
  max-width: 100%;
  height: auto;
  width: 650px;
}

.boxTitle-conteudo2{
  flex: 1
}

.text-conteudo2{
  font-size: 20px;
  line-height: 1.5;
}

.rank{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #168AAD;
  position: relative;
}

.card-rank{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 90%;
  background-color: #F2DF80;
  border-radius: 15px;
  border: #F2B705 solid 25px;
  z-index: 1;
}

.card-title{
  padding-bottom: 14px;
  color: #168AAD;
  text-align: center;
}

.list, .list-item, .list-item-body, .list-item-header{
  display: flex;
}

.list{
  width: 100%;
  padding: 10px;
  flex-direction: column;
  gap: 8px;
}

.list-item{
  width: calc(100% - 20px);
  max-height: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.list-item-header{
  width: 20%;
  align-items: center;
  margin: 10px;
}

.list-item-header-bagde{
  position: absolute;
  margin-top: -20px;
  margin-left: -4px;
  width: 26px;
  height: 26px;
  display: block;
  padding: 2px;
  border-radius: 50%;
  background-color: #F2B705;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    color:#168AAD
}

/* .list-item-header-body-icon{
  background-color: #168AAD;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
} */

.list-item-icon{
  width: 60px;
  max-height: 60px;
  margin-left: 4px;
  margin-top: -6px;
}

.list-item-body{
  width: 100%;
  flex-direction: column;
}

.list-item-title{
  font-size: 14px;
  line-height: 22px;
  font-weight: 900;
  color: #168AAD;
  letter-spacing: 0.125rem;
}

.list-item-subtitle{
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.1rem;
}

.list-item-progress-bar{
  height: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  background-color: #F2B705;
  border-radius: 4px;
}

.list-item-progress-bar span{
  display: block;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
  background-color: #168AAD;
  transition: width 0.6s ease;
}

.img-violeta{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 40px;
  width: 500px;
  height: auto;
  z-index: 2;
}

.membros{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.membros .img-balao-membros{
  width: 400px;
  height: auto;
}

.membros .img-equipe-unida{
  width: 1000px;
  height: auto;
  margin-top: auto;
}

.body-section-instagram{
  height: 100vh;
  background-color: #168AAD;
  padding-top: 50px
}

.body-section-instagram h1{
  text-align: center;
  color: #FFFFFF;
}

footer{
  height: 50px;
  background-color: rgba(92, 192, 223, 0.9);
  bottom: 0;
  color: #FFFFFF;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p{
  text-align: center;
 margin: 0;
}



@keyframes flutuar{
  0%{
    top: 0;
  }
  100%{
    top: 30px;
  }

}